body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    padding: 20px;
    text-align: center;
}

main {
    margin: 20px 0;
}

.boutton {
    color: black;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

footer {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    background-color: rgb(168, 168, 244);
    width: 100%;
    padding: 20px 0; 
    margin-bottom: 0;
}


.container {
    display: flex;
    justify-content: space-between; /* pousse un bloc à gauche et l'autre à droite */
    width: 100%;
}

.option {
    width: 40%;   /* largeur modifiable */
    border: solid black;
    padding: 20px;
}

.choixsalle {
    width: 40%;   /* largeur modifiable */
    padding: 20px;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  accent-color: green;
}

select {
  padding: 5px 10px;
  border: 2px solid black;
  border-radius: 5px;
  font-size: 16px;
}

.bouttondroite{ 
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

.contactfooter {
  text-decoration: underline;
  color: rgb(0, 0, 8);
  cursor: pointer;
  margin-left: 10px;
}
