body {
    margin: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}

header {
    padding: 20px;
    text-align: center;
}

main {
    margin: 20px 0;
}

.boutton {
    color: black;
    padding: 10px 20px;
    cursor: pointer;
    border-radius: 5px;
}

footer {
    margin-top: 20px;
    text-align: center;
    font-size: 14px;
    background-color: rgb(168, 168, 244);
    width: 100%;
    padding: 20px 0; 
    margin-bottom: 0;
}


.container {
    /* pousse un bloc à gauche et l'autre à droite */
    width: 100%;
}

.formuperso {
    width: 40%;   /* largeur modifiable */
    border: solid black;
    padding: 20px;
}

.formusalle {
    width: 40%;   /* largeur modifiable */
    border: solid black;
    padding: 20px;
}

.jour-ligne {
  display: flex;
  align-items: center;
  gap: 10px;
}

.jour-ligne label { /*Sert a etre parfaitement aligné*/
  width: 90px;
}

.jour-ligne p {
  padding: 5px 10px;
  border: 2px solid black;
  background: white;
  cursor: pointer;
}

input[type="checkbox"] {
  width: 20px;
  height: 20px;
  accent-color: green;
}

.conditions {
  text-decoration: underline;
  color: blue;
  cursor: pointer;
  margin-left: 10px;
}

.info input {
    width: 220px;
    padding: 8px;
    margin: 20px 0;
    border: 2px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.longtxt {
    width: calc(100% - 40px);
    min-height: 120px;
    padding: 10px;
    margin: 20px;
    border: 2px solid black;
    box-sizing: border-box;
    resize: vertical; /* permet d’agrandir vers le bas */
}

.bouttondroite{ 
    display: flex;
    justify-content: flex-end;
    padding-right: 20px;
}

.contactfooter {
  text-decoration: underline;
  color: rgb(0, 0, 12);
  cursor: pointer;
  margin-left: 10px;
}