
body {
    margin: 0;
    padding: 0;
    background-color: rgb(227, 227, 248); 
    font-family: Arial, sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}


.logo {
    display: flex;
    align-items: center;
    gap: 10px;
}

.logo-img {
    height: 50px;
    width: auto;
}

.nomSite {
    font-size: 22px;
    font-weight: bold;
    color: white;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 25px;
    align-items: center;
}

.nav-links a {
    color: white;
    text-decoration: none;
    font-size: 16px;
}

.user-img {
    height: 40px;
    cursor: pointer;
}



.step-box {
    background-color: #f2f6fb;
    padding: 12px;
    border-radius: 10px;
    border: 1px solid rgba(37, 37, 87);
    font-weight: bold;
}

.step-active {
    background-color: rgba(37, 37, 87);
    color: white;
}

main {
    flex: 1;
    margin-top: 30px;
}

form {
    background-color: white;
    border-radius: 15px;
    padding: 25px;
    border: 1px solid #d0d0e0;
}

form label {
    font-weight: bold;
}

form .btn-primary {
    background-color: rgba(37, 37, 87);
    border: none;
    padding: 10px 20px;
    border-radius: 999px;
}

form .btn-primary:hover {
    background-color: rgb(60, 60, 120);
}


.contactfooter {
    text-decoration: underline;
    color: white;
    margin-left: 10px;
}

